<!-- Bold elements are required -->
<launch4jConfig>
  <headerType>gui</headerType>
  <outfile>umongo.exe</outfile>
  <jar>./umongo.jar</jar>
  <dontWrapJar>true</dontWrapJar>
  <errTitle>umongo error</errTitle>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl>http://www.edgytech.com</supportUrl>
  <cmdLine></cmdLine>
  <priority>normal</priority>
  <customProcName>false</customProcName>
  <stayAlive>false</stayAlive>
  <icon>java-icon.ico</icon>

<!--  <obj>header object file</obj>
  ...
  <lib>w32api lib</lib>
  ...
  <var>var=text</var>
  ... -->

  <classPath>
    <mainClass>com.edgytech.umongo.UMongo</mainClass>
    <cp>./lib/*.jar</cp>
  </classPath>

  <jre>
    <!-- Specify one of the following or both -->
    <minVersion>1.6.0</minVersion>
    <jdkPreference>preferJre</jdkPreference>
    <!-- Heap sizes in MB and % of free memory -->
    <initialHeapSize>64</initialHeapSize>
    <maxHeapSize>512</maxHeapSize>
  </jre>
  <splash>
    <file>../../resource/img/mongo_leaf.bmp</file>
    <waitForWindow>true</waitForWindow>
    <timeout>60</timeout>
    <timeoutErr>true</timeoutErr>
  </splash>
  <versionInfo>
    <fileVersion>1.0.1.0</fileVersion>
    <txtFileVersion>win_1.0.1.0</txtFileVersion>
    <fileDescription>umongo</fileDescription>
    <copyright>@edgytech All rights reserved</copyright>
    <productVersion>1.0.1.0</productVersion>
    <txtProductVersion>win_1.0.1.0</txtProductVersion>
    <productName>umongo</productName>
    <companyName>EdgyTech</companyName>
    <internalName>umongo</internalName>
    <originalFilename>umongo.exe</originalFilename>
  </versionInfo>
<!--  <messages>
    <startupErr>text</startupErr>
    <bundledJreErr>text</bundledJreErr>
    <jreVersionErr>text</jreVersionErr>
    <launcherErr>text</launcherErr>
  </messages> -->
</launch4jConfig>
